<body style="text-align: center;">
    <table style="margin: auto; text-align: left;">
        <tr>
            <td><img src="https://zixun-hubstudio-common-ap-southeast-1.s3.ap-southeast-1.amazonaws.com/images/email-logo.png" /></td>
        </tr>
        <tr style="text-align: center; vertical-align: middle;">
            <td>
                <table style="margin: auto;" width="1024" height="500" >
                    <tr >
                        <td style="text-align: left; vertical-align: top; font-size:large;">
                            <div style="margin-top: 30px;font-size: x-large;">
                                Hello,
                            </div>
                            <div style="margin-top: 30px;">
                                Thanks for your registration with ZeroPass. Your Business Account /Personal Account has now been created successfully. Here is your account detail:
                            </div>
                            <div style="margin-top: 30px;">
                                Your Login Email: {0}
                            </div>
                            {1}
                            <div style="margin-top: 5px;">
                                Your Master Password: You have set your Master Password during your registration process, and you must have already remembered it.
                            </div>
                            <div style="margin-top: 5px;">
                                Your Secret Key: It appeared to you right after you completed the registration processed with ZeroPass App, and you must have already saved it.
                            </div>
                            <div style="margin-top: 30px;">
                                Please be kindly reminded that you need the login Email with the Master Password and Secret Key to login on ZeroPass App. It is your own responsibility to have them properly saved or memorized.
                            </div>
                            <div style="margin-top: 30px;">
                                Thanks for helping us keep your account secure,
                            </div>
                            <div style="margin-top: 5px;">
                                Your ZeroPass Support Team
                            </div>
                            <div style="margin-top: 5px;">
                                <a href="http://www.zpassapp.com" target="_blank" >www.zpassapp.com</a>
                            </div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>
</html>